@media (max-width: 1024px) {
  .about-page .inner {
    width: 90%;
  }
}

.about-page .section-ttl {
  margin-bottom: 39px;
}

.about-page .about-page-txt {
  width: 672px;
  display: block;
  margin: 0 auto 150px;
  line-height: 2;
}

@media (max-width: 1024px) {
  .about-page .about-page-txt {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .about-page .about-page-txt {
    width: 90%;
    font-size: 16px;
    margin-bottom: 80px;
  }
}

.about-page .about-page-box {
  justify-content: space-evenly;
  margin-bottom: 72px;
}

.about-page .about-page-box .about-content {
  width: 250px;
  display: block;
  text-align: center;
}

@media (max-width: 800px) {
  .about-page .about-page-box .about-content:first-child {
    margin-bottom: 60px;
  }
}

.about-page .about-page-box .about-content .about-content-ttl {
  font-size: 28px;
  display: block;
  margin-bottom: 80px;
  position: relative;
}

@media (max-width: 450px) {
  .about-page .about-page-box .about-content .about-content-ttl {
    font-size: 22px;
  }
}

.about-page .about-page-box .about-content .about-content-ttl::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 47px;
  top: 150%;
  left: 50%;
  background: #242424;
}

.about-page .about-page-box .about-content .about-content-ttl .accent-color {
  color: #fabe00;
}

@media (max-width: 450px) {
  .about-page .about-page-box .about-content .about-content-txt {
    font-size: 14px;
  }
}

.about-page .about-content-center {
  width: 670px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .about-page .about-content-center {
    width: 90%;
  }
}

.about-page .about-content-center .about-content-ttl {
  font-size: 28px;
  display: block;
  margin-bottom: 80px;
  position: relative;
}

@media (max-width: 450px) {
  .about-page .about-content-center .about-content-ttl {
    font-size: 22px;
  }
}

.about-page .about-content-center .about-content-ttl::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 47px;
  top: 150%;
  left: 50%;
  background: #242424;
}

.about-page .about-content-center .about-content-ttl .accent-color {
  color: #fabe00;
}

.about-page .about-content-center .about-content-txt {
  color: #3c3837;
  line-height: 3;
}

@media (max-width: 450px) {
  .about-page .about-content-center .about-content-txt {
    font-size: 14px;
    line-height: 2;
  }
}

.company .section-ttl {
  margin-bottom: 37px;
}

.company .company-table {
  display: table;
  margin: 0 auto;
  width: 777px;
}

@media (max-width: 1024px) {
  .company .company-table {
    width: 90%;
  }
}

.company .company-table .company-tr {
  padding: 25px 0 21px;
  display: block;
  width: 100%;
  border-bottom: solid 1px #242424;
}

.company .company-table .company-tr:first-child {
  width: 100%;
  display: block;
  border-top: solid 1px #242424;
}

.company .company-table .company-tr .company-th {
  width: 270px;
  text-align-last: left;
  font-weight: bold;
}

@media (max-width: 450px) {
  .company .company-table .company-tr .company-th {
    font-size: 18px;
    width: 100px;
  }
}

@media (max-width: 450px) {
  .company .company-table .company-tr .company-td {
    font-size: 16px;
  }
}

.company .company-table .company-tr .lh2 {
  line-height: 2;
}
