@media (max-width: 1024px) {
  .blog .inner {
    width: 90%;
  }
}

.blog .section-ttl {
  margin-bottom: 52px;
}

.blog .blog-content {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .blog .blog-content {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.blog .content-card {
  width: 300px;
  height: 346px;
  background: #ffffff;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .blog .content-card {
    width: 32%;
    height: auto;
  }
}

@media (max-width: 800px) {
  .blog .content-card {
    width: 60%;
  }
  .blog .content-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .blog .content-card {
    width: 90%;
    height: auto;
  }
}

.blog .content-card .blog-img {
  width: 100%;
}

.blog .content-card .content-body {
  width: 100%;
  padding: 25px 21px 18px;
}

.blog .content-card .content-body .content-txt {
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
  line-height: 1.5;
}

@media (max-width: 450px) {
  .blog .content-card .content-body .content-txt {
    font-size: 16px;
  }
}

.blog .content-card .content-body .date {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-right: 21px;
}

@media (max-width: 450px) {
  .blog .content-card .content-body .date {
    width: 30%;
  }
}

.blog .content-card .content-body .category {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 14px 8px;
  background: #dee0df;
  border-radius: 20px;
}

@media (max-width: 450px) {
  .blog .content-card .content-body .category {
    width: auto;
    padding: 4px 6px;
  }
}
