@media (max-width: 1024px) {
  .service-sample .inner {
    width: 90%;
  }
}

.service-sample .section-ttl {
  margin-bottom: 52px;
}

.service-sample .service-sample-content {
  justify-content: space-around;
  position: relative;
}

.service-sample .service-sample-content .service-sample-box {
  text-align: center;
  border: 1px solid #fabe00;
  padding: 45px 42px;
  width: 455px;
  height: 350px;
  border-radius: 20px;
}

.service-sample .service-sample-content .service-sample-box:nth-of-type(-n + 2) {
  margin-bottom: 64px;
}

@media (max-width: 800px) {
  .service-sample .service-sample-content .service-sample-box:nth-of-type(-n + 2) {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .service-sample .service-sample-content .service-sample-box:nth-of-type(-n + 4) {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .service-sample .service-sample-content .service-sample-box:nth-of-type(-n + 4) {
    width: 420px;
    margin-bottom: 20px;
  }
}

.service-sample .service-sample-content .service-sample-box .service-site-img {
  margin-bottom: 0;
}

.service-sample .service-sample-content .service-sample-box .service-sample-img {
  margin-bottom: 26px;
}

.service-sample .service-sample-content .service-sample-box .service-sample-ttl {
  margin-bottom: 26px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.service-sample .service-sample-content .service-sample-box .service-sample-txt {
  line-height: 1.5;
  font-size: 16px;
  width: 360px;
  display: inline-block;
}

@media (max-width: 1024px) {
  .service-sample .service-sample-content .service-sample-box .service-sample-txt {
    width: 90%;
  }
}

.service-sample .service-sample-content .service-sample-box .service-sample-txt .link {
  color: #fabe00;
}

.service-sample .service-sample-content .top-line {
  position: relative;
}

.service-sample .service-sample-content .top-line::before {
  content: "";
  position: absolute;
  border-top: solid 5px #fabe00;
  border-right: solid 5px #fabe00;
  border-top-right-radius: 20px;
  width: 23px;
  height: 23px;
  top: -3px;
  right: -3px;
}

.service-sample .service-sample-content .top-line::after {
  content: "";
  position: absolute;
  border-top: solid 5px #fabe00;
  border-left: solid 5px #fabe00;
  border-top-left-radius: 20px;
  width: 23px;
  height: 23px;
  top: -3px;
  left: -3px;
}

.service-sample .service-sample-content .bottom-line {
  width: 455px;
  height: 303px;
  position: absolute;
  left: 0;
}

@media (max-width: 1024px) {
  .service-sample .service-sample-content .bottom-line {
    width: 100%;
  }
}

.service-sample .service-sample-content .bottom-line::before {
  content: "";
  position: absolute;
  border-bottom: solid 5px #fabe00;
  border-left: solid 5px #fabe00;
  border-bottom-left-radius: 20px;
  width: 23px;
  height: 23px;
  bottom: -3px;
  left: -3px;
}

.service-sample .service-sample-content .bottom-line::after {
  content: "";
  position: absolute;
  border-bottom: solid 5px #fabe00;
  border-right: solid 5px #fabe00;
  border-bottom-right-radius: 20px;
  width: 23px;
  height: 23px;
  bottom: -3px;
  right: -1px;
}

@media (max-width: 1024px) {
  .service-sample .service-sample-content .bottom-line::after {
    right: -3px;
  }
}

.service-sample .service-sample-content .service-round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 800px) {
  .service-sample .service-sample-content .service-round {
    width: 420px;
  }
}
