@import "base";
.archive-case {
	.inner {
		width: 100%;
	}
	.section-ttl {
		margin-bottom: 113px;
		position: relative;
		&::before {
			content: "CASE";
			display: block;
			font-size: 21px;
			margin: 0 auto 50px;
			letter-spacing: 0.1em;
		}
		&::after {
			content: "";
			background: map-get($colors, header-color);
			width: 2px;
			height: 28px;
			display: block;
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translateY(-50%);
		}
	}
	.archive-link {
		.short-img {
			width: 100%;
			@include tab {
			}
		}
	}
	.archive-table {
		padding: 32px 50px 29px;
		display: table;
		margin: 0 auto 100px;
		background: map-get($colors, white);
		border-radius: 20px;
		width: 702px;
		@include tab {
			width: 90%;
			padding: 25px 30px;
		}
		.archive-tr {
			padding: 23px 0;
			@include sp {
				padding: 15px 0;
			}
			&:not(:last-child) {
				border-bottom: solid 1px #242424;
				width: 100%;
				margin-bottom: 10px;
				display: block;
			}
			.archive-th {
				width: 150px;
				margin-right: 30px;
				display: inline-block;
				text-align: left;
				vertical-align: top;
				@include tab {
					width: 25%;
				}
				@include sp {
					font-size: 16px;
					width: 100px;
					margin-right: 15px;
				}
			}
			.archive-td {
				display: inline-block;
				@include sp {
					font-size: 16px;
					line-height: 1.5;
				}
				.flex {
					@include sp {
						margin-bottom: 10px;
					}
					.archive-li {
						@include tab {
							width: 50%;
							margin-right: 20px;
						}
						@include sp {
							margin-right: 20px;
							width: 100px;
						}
					}
				}
			}
		}
	}
	.long-img {
		width: 100%;
	}
}
